---
---

//
// IMPORTS
//


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


footer {
    margin-top: 35px;
}

.divider{
    margin-top: 15px;
    border-top: 2px solid #EE4D4D;
    padding-top: 20px;
}

.post{
    height: 400px;
    position: relative;
    background-color: #dc322f;
}

.post-container{
    position: absolute;
    top: 175px;
    right: 0px;
    background: white;
    max-width: 75%;
    max-height: 50%;
    padding: 10px;
    min-height: 45%;
}

.post-header{
    position: relative;
}

.post-header h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
}


.post-thumb {
    width: 80px;
    height: 80px;
    border: 1px solid;
    padding: 15px 0px;
    margin: 3px;
    margin-left: -31px;
    background: lightgray;
    font-weight: bold;
    display: inline-block
}

.entry{
    margin-top: 5px;
    overflow: hidden;
    max-height: 65px;
}
