<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="text-center">What I am doing right now?</h4>
    </div>
    
    <div class="timeline-body">
        <ul>
            <li>Attending Startup Institute</li>
            <li>Working on MarkItDown</li>
            <li>Working on Segments/Travlr</li>
        </ul>
    </div>

    <div class="timeline-footer">
        <p class="text-right">
            Head over the projects to see more details
        </p>
    </div>
</div>
